.header {
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  height: 80px;
}
.header a {
  text-decoration: none;
  margin-left: 33px;
  color: white;
}
.header a:hover {
  color: orange;
}
